body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Racing Sans One', sans-serif;
    font-weight: normal;
}